*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

section{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

section .card{
    background-color: black;
    color: limegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 20%;
    overflow: hidden;
    width: 400px;

}

section .card figure img {

width: 100%;
}

